@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
    font-family: "Poppins", serif;
    font-display: swap;
    font-size: 16px;
  }
}
@media (max-width: 450px) {
  :root {
    font-size: 12px;
  }
}
html,
body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
.geantShadow {
  box-shadow: 0px 3px 12px 0px #5454561a;
}

.hollow-gradient-icon {
  font-size: 48px;
  -webkit-mask-image: var(--fa-font-solid);
  mask-image: var(--fa-font-solid);
  background: conic-gradient(
    from 180deg at 50% 50%,
    #006c50 0deg,
    #006c50 27deg,
    #2a856d 73.8deg,
    rgba(128, 182, 168, 0) 360deg
  );
  position: relative;
}

.hollow-gradient-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7); /* Adjust scale for thickness */
  width: 100%;
  height: 100%;
  background: white; /* Or your background color */
  -webkit-mask-image: var(--fa-font-solid);
  mask-image: var(--fa-font-solid);
}
.unset {
  all: unset;
}

@page a4Portrait {
  size: A4 portrait;
  margin: 0;
  @bottom-center {
    content: none;
  }
}

@page a5Portrait {
  size: A5 portrait;
  margin: 0;
  @bottom-center {
    content: none;
  }
}
@page a6Portrait {
  size: 10.5cm 14.8cm;
  orientation: portrait;
  margin: 0;
  @bottom-center {
    content: none;
  }
}

@media print {
  @page {
    size: A4 landscape;
    margin-top: 1cm;
    margin-bottom: 1.5cm;
    @bottom-center {
      content: "Page " counter(page) " of " counter(pages);
      font-size: 12px;
    }
  }

  @page: first {
    margin-top: 0;
  }
  .a4 {
    width: 210mm;
    height: 297mm;
  }

  .a5 {
    width: 148mm;
    height: 210mm;
  }
  .a6 {
    width: 105mm;
    height: 148mm;
  }

  .a4 * {
    page: a4Portrait;
  }
  .a5 * {
    page: a5Portrait;
  }
  .a6 * {
    page: a6Portrait;
  }
}
